html{
  scroll-behavior: smooth;
}

body{
  background-color: #191a19 !important;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  font-family: 'Sofia Sans', sans-serif !important;
}
.about{
  font-size: 20px;
}

.App {
  color: #f09819;
}

.effect{
  
  white-space: nowrap;
  border-right: 4px solid;
  width: 15ch;
  animation: typing 2s steps(18), blink .5s infinite step-end alternate;
  overflow: hidden;
}


@keyframes typing {
  from {width: 0}
}

@keyframes blink {
  50% {border-color: transparent}
}


.efectoLista{
  position: relative;
  letter-spacing: 0.5px;
  padding: 0 10px;
  margin: 10px;
  color: #a0a0a0 !important;
}
.efectoLista:hover{
  color: #ffffff !important;
}

.efectoLista:after{
   content: "";
   position: absolute;
   background-color: #f09819;
   height: 3px;
   width: 0;
   left: 0;
   bottom: 0px;
   transition: 0.4s;
}

.efectoLista:hover:after{

  width: 100%;
}
a{
  text-decoration: none;
  text-decoration-style: none;
  list-style: none;
  color: inherit;
}


.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 30px;
  width: 310px;
  border:1px solid #f09819;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  cursor: pointer;
}
.glass:hover{
  filter: opacity(60%);
}

.glassAbout{
  background: linear-gradient(135deg, rgba(243, 158, 0, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 30px;
 border-radius: 5px;
}

.logoSkill{
  width: 100px;
}

.javascript{
  width: 170px;
}
.firebase{
  width: 80px;
}

.photoshop{
  width: 90px;
}

.mongo{
  width: 200px;
  
}

.cinema{
  width: 180px;
}


.cardcito {
  width: 300px;
  height: 300px;
  background-image: linear-gradient(163deg, #ff9900 0%, #d3d3d3 100%);
  border-radius: 20px;
  transition: all .3s;
 }
 
 .card2 {
  width: 300px;
  height: 300px;
  background-color: #1f1f1f;

  
  border-radius: 20px;
  transition: all .2s;
 }
 
 .card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
 }
 
 .cardcito:hover {
   cursor: pointer;
  box-shadow: 0px 0px 30px 1px rgba(255, 238, 0, 0.3);
 }

 .imagenProyecto{
   border-radius: 20px 20px 0 0;
 }

.botonProyecto {
  padding: 0.8em 1.8em;
  border: 2px solid #ff9900;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: white;
 }
 
 .botonProyecto::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #ff9900;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .botonProyecto:hover::before {
  width: 105%;
 }
 
 .botonProyecto:hover {
  color: #111;
 }
 
button a{
   all: unset;
   color: white;  
 }
button a:hover {
   all: unset;
   color: white;  
 }

 
.inputForm{
  border: 1px solid #ff9900 !important ;
  all: unset;
  list-style: none;
  text-decoration: none;
  outline: none;
  outline-style: none;
  
 }

 .inputForm:focus {
    box-shadow: none;
  
 }

 .botoncito {
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%)
 }
 
 .botoncito {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
 }
 
 .botoncito:hover {
  background-position: right center;
  color: white;
  text-decoration: none;
 }
 
 .botoncito:active {
  transform: scale(0.95);
 }
 
 .linka{
   all: unset;
 }
 
html::-webkit-scrollbar{
  background-color: #191a19 !important;
  border-radius: 15x;
  width: 10px;
  
}
html::-webkit-scrollbar-thumb{
  background-color: #f09819 !important;
  border-radius:15px;
  outline: 1px solid slategrey !important;
  width: 10px;
}


 @media all and (min-width: 360px) and (max-width: 640px)  {

  .glass{
      width: 280px;
      
  }

}

.logosm{
  width: 40px;
}

.logoRedesSociales{
 cursor: pointer;
}
.logoRedesSociales:hover{
  cursor: pointer;
  color: white;

}

.linkLogo{
  text-decoration: none;
  color: #f09819;
}
.linkLogo:hover{
  color: white;
}

.itemPagina{
  width: 200px;
  cursor: pointer;
}

.wrapper2{
  background: linear-gradient(
    rgba(0, 0, 0, 0.823),
    rgba(0, 0, 0, 0.713)
  ), center fixed url('./assets/wallpaper2.jpg');
  height: 100vh;
  background-size: cover;
  opacity: 1;
}