body{
  background-color: #191a19 !important;
}

.App {
  color: #f09819;
}

.effect{
  
  white-space: nowrap;
  border-right: 4px solid;
  width: 25ch;
  animation: typing 2s steps(18), blink .5s infinite step-end alternate;
  overflow: hidden;
}


@keyframes typing {
  from {width: 0}
}

@keyframes blink {
  50% {border-color: transparent}
}


.efectoLista{
  position: relative;
  letter-spacing: 0.5px;
  padding: 0 10px;
  margin: 10px;
  color: #a0a0a0 !important;
}
.efectoLista:hover{
  color: #ffffff !important;
}

.efectoLista:after{
   content: "";
   position: absolute;
   background-color: #f09819;
   height: 3px;
   width: 0;
   left: 0;
   bottom: 0px;
   transition: 0.3s;
}

.efectoLista:hover:after{

  width: 100%;
}
a{
  text-decoration: none;
  text-decoration-style: none;
  list-style: none;
  color: inherit
}